<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Equal Area Maps</h2>
        </header>
        <p>The most acurate map <br />
          of the <strong>World</strong>,
           <br /> in the world.
        <br />

        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">View Gallery</a></li>
            </ul>
        </footer>

    </div>

</section>
